<!--
<header class="container-fluid">
    
    <section id="top" class="bg-primary">
        <div class="top container-fluid">
            <div class="row py-1">
                <div class="col-12 col-lg-6">
                    <p class="text-light m-0"><b>email: alguien@gmail.com</b></p>
                </div>
                <div class="col-12 col-lg-6 text-lg-end">
                    <p class="text-light m-0"><b>Phone: 747112122</b></p>
                </div>
            </div>
        </div>
    </section>
    
</header>

-->