<!-- Head -->
<%- include('partials/head') %>

<!-- Header -->
<%- include('partials/header') %>

<!-- Navigation -->

<main>
    <h1>Citas</h1>
</main>

<!-- Footer -->
<%- include('partials/footer') %>